@page
@model PJSrenovations3.Pages.AboutUsModel
@{
}
<section class="" id="about">
    <div class="row">
        <div class="col-12">
            <h2> PAGE COMING SOON</h2>
        </div>

    </div>
</section>