@page
@model PJSrenovations3.Pages.GaleryModel
@{
}

<section id="galery" class="mt-2">
    <header >
        <h2> Click on an image for more further details</h2>
    </header>
    <div class="row">
        <div class="card-columns">
            <div class="card img-fluid" style="width:500px">
                <img class="card-img-top" src="~/img/526fulham-1.jpg" alt="526 fulham road 2019" style="width:100%" />
                <div class="card-img-overlay">
                    <h2> 562 Fulham Road, SW6</h2>
                    <h3 class="card-subtitle"> Project Partner: </h3>
                    <p class="card-text">Duration: </p>
                </div>
            </div>
            <div class="card img-fluid" style="width:500px">
                <img class="card-img-top" src="~/img/barns1.jpg" alt="26 The Terrace, London sw13: 2019" style="width:100%" />
                <div class="card-img-overlay">
                    <h2> 26 The Terrace, London, SW13</h2>
                    <h3 class="card-subtitle"> Project Partner: </h3>
                    <p class="card-text">Duration: </p>
                </div>
                <a  href="#" class="stretched-link"></a>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- how to create a modal-->
        <button id="modalBtn"> modalBtn</button>
        <div id="galeryModel" class="modal"> <!-- main window-->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p> text on modal</p>
                </div><!-- content of window-->
        </div>
    </div>
    

</section>
