@page
@model PJSrenovations3.Pages.ReviewsModel
@{
}

    <section id="reviews">
        <div class="row">
            <div class="col-12">
                <h2> PAGE COMING SOON</h2>
            </div>

        </div>

    </section>
